table{
  margin-top: 60px;
  margin-left: 20%;
  width: 60%;
  text-align: center;
  justify-content: center;
}

.btn-eliminar{
  margin-left: 10px;
  width: 100px;
}

.btn-editar{
  margin-left: 10px;
  width: 100px;
}

.btn-agregar-empleado
{
  width: 25%;
  margin-left: 37.5%;
}
