<div>
  <button
    routerLink="/app-crud-firebase"
    type="submit"
    class="btn btn-primary btn-agregar"
  >
    Volver
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Registro de empelados</h2>
      <div class="card mt-4">
        <div class="card-body">
          <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <input
                formControlName="nombre"
                type="text"
                placeholder="Nombre empleado"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <input
                formControlName="email"
                type="email"
                placeholder="email empleado"
                class="form-control"
              />
            </div>
            <button
              [disabled]="!empleadoForm.valid"
              type="submit"
              class="btn btn-primary btn-agregar"
            >
              enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
